<div id="graph" class="D3Graph" tabindex="0">
</div>

<div id="usernameDisplay">
  Blah blahblah
</div>

<button id="refreshButton" onMouseDown="return curvy.deploy.start()">Refresh</button>

<button id="logoutButton">Logout</button>

<div id="toolTabs" class="toolTabsCSS">
</div>

<img id="ciscologo" src="/assets/cisco_logo.png">

<div id="overviewsDisplayer" class="overviewsHidden" onclick="displayOverviews()">
  <<
</div>
<div id="overviewsContainer" class="overviewsHidden">
</div>

<script>
  var overviewsOpen = false;
  function displayOverviews() {
    if(!overviewsOpen){
      document.getElementById("overviewsDisplayer").className = "overviewsVisible";
      document.getElementById("overviewsDisplayer").innerHTML = ">>";
      document.getElementById("overviewsContainer").className = "overviewsVisible";
      overviewsOpen = true;
    }
    else {
      document.getElementById("overviewsDisplayer").className = "overviewsHidden";
      document.getElementById("overviewsDisplayer").innerHTML = "<<";
      document.getElementById("overviewsContainer").className = "overviewsHidden";
      overviewsOpen = false;
    }
  }
</script>

<div class="footer">
  Meta Curvature - (C) Cisco Systems 2014
</div>

<%= render 'popups' %>
