/* ===================================================================== */
/* =                           Overview Bars                           = */
/* ===================================================================== */

#overviewsContainer{
  display:table-row;
  background-color: #E1F0F8;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.overviewBarContainer {
  position: relative;
  height: 40px;
  width: 33.333333%;
  margin: 0 auto;
  border-width: 1px;
  /*border-top-style: solid;*/
  border-bottom-style: solid;
  border-color: #ACCFEB;
  float: left;
}

.overviewBarLabel {
  position: absolute;
  top: 50%;
  height: 10px;
  margin-top: -7px;
  font-weight: bold;
  color: #2178AC;
  left: 35%;
  right: 0px;
}
