/* =============================================================== */
/* =                           Tool Tabs                         = */
/* =============================================================== */
.toolTabsCSS {
  position: absolute;
  width: 443px;
  height: 30px;
  margin-top: 33px;
  margin-left: 20px;
  text-align: center;
  cursor: default;
  background: transparent; 
  border: none; 
}

#t {
  display: none;
  width: 0px;
  height: 0px;
}

#t .ui-widget-content {
  display: none;
}