/* ==================================================================== */
/* =                           Network Tabs                           = */
/* ==================================================================== */
#graphTabs li .tab-button { 
  float: left;
  padding: 0.40em 0.1em;
  padding-bottom: 0.45em;
  color: #555555;
  cursor: pointer;
  border: solid 1px transparent;
}

#graphTabs li .tab-button-far-right {
  border-top-right-radius: 4px;
}

#graphTabs li .tab-button:hover { 
  background-color: #E2F0F8;
  border: solid 1px transparent;
}

#graphTabs li .toggled {
  background-color: #C4D3DB;
  border: solid 1px #C4D3DB;
}