/* ================================================================= */
/* =                           Popup Css                           = */
/* ================================================================= */

/* Dialog Buttons */
.ui-dialog .ui-dialog-buttonpane button {
  font-size: 12px;
}

#containerEditor{
  width: 500px;
  height: 500px;
}

#errorDetails {
  border: 1px solid GRAY;
  display: none;
}
