body {
  margin-left: auto;
  margin-right: auto;
  margin-top:0px;
}

#stripe {
  height: 40px;
  margin-top: 100px;
  background: linear-gradient(to bottom, #003c87 0%,#307bad 100%);
  background: -webkit-linear-gradient(top, #003c87 0%,#307bad 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003c87), color-stop(100%,#307bad));
}

#header h1 {
  float: left;
  padding-left: 20px;
  margin-top: -55px;
}

#header img {
  float: left;
  width: 124px;
  margin-top: -80px;
}

#main {
  padding-bottom: 20px;
  background-color: #d7ebf9;
}

#nav {
  margin-left: 145px;
  position: absolute;
}

#nav ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style-type:none;
}

#nav li {
  display: inline;
}

#nav p {
  display:inline;
  padding-left:250px;
}

#nav a, #nav p {
  color: white;
  padding-right: 20px;
}

#content {
  margin: 0px;
  padding: 0px;
  width: 845px;
  float: left;
  margin-top:20px;
  margin-left:20px;
  background: #307bad;
}

#content h1 {
  margin-left: 20px;
}

#feed {
  float: left;
  margin-top: 20px;
  margin-left:20px;
  width: 360px;
  background: #f0f;
  border-radius: 15px 15px 15px 0px;
}

#slideshow {
  padding:20px;
  height: 300px;
  margin-bottom: 10px;
}

.updates {
  margin:0px;
  padding:0px;
  list-style-type:none;
}

.updates li {
  margin: 20px;
  background:  #fff;
  -moz-box-shadow: 2px 2px 2px 2px #444;
  -webkit-box-shadow: 2px 2px 2px 2px #444;
  box-shadow: 2px 2px 2px 2px #444;
  padding-bottom: 4px;
}

.updates p {
  padding-left:15px;
}

.updates h2 {
  padding-top: 10px;
  padding-left: 15px;
  margin-top:0px;
}

.clear {
  clear:both;
}

#footer {
  text-align:center;
  margin-top: 20px;
}
