<html>
  <head>
    <title> {% if page.title %} {{ page.title }} | {% endif %} Curvature - The Advanced Dashboard </title>
    {% include imports.html %}
  </head>
  <body>
    {% include header.html %}
    {% include navbar.html %}
    <div id="main">
      <div id="content">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id="rightpane">
        <div id="feed">
          <h3> Recent Activity </h3> <img src="{{ site.url }}/images/feed-icon-14x14.png" alt="RSS feed">
          <div class="clear"></div>
          {% include rssfeed.html %}
        </div>
        <div id="related">
          <h3> Related Projects </h3>
          <ul>
            <li><a href="http://ciscosystems.github.io/donabe">Donabe</a></li>
          </ul>
        </div>
      </div>
      <div class="clear"> </div>
      {% include footer.html %} 
    </div>
  </body>
</html>
